$board-bg-color: #0079bf;
$board-bg-second-color: #d29034;
$navbar-app-bg-color: #0067a3;
$navbar-board-bg-color: #0079bf;
$list-bg-color: #ebecf0;
$app-main-color: #333;
$gap: 10px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;

// Screen
$screen-lg: 1280px;
$screen-md: 768px;
$screen-sm: 432px;
$screen-esm: "(max-width: 375px)";
